---
layout: default
---

<div class="about">

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="about-content">
    {{ content }}
  </div>

  <div class="row">
    <div class="column-1">
      <img class="image" src="/assets/images/troy.jpeg">
      <div class="name">Troy Stribling</div>
    </div>
    <div class="column-2">
      Troy has had an interest in Statistical Physics since he was an undergraduate. He went on to obtain a
      Ph.D specializing in Fluid Turbulence theory. After receiving his degree he spent several years in academia working
      on Computational Fluid Mechanics. During this period the Internet developed capturing his interest and led
      to a career change to software development. His interest in Statistical Physics has continues.
    </div>
  </div>

</div>
